<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />   
  </head>
  <body>
    <h1>You have been deleted, <%= @user.full_name %></h1>
    <p>
      You have been successfully deleted from our database.
      <br>
    </p>
    <p>
      To sign up again just do it
    </p>
    <p>Thanks for leaving and have a great day!</p>
  </body>
</html>